projet_3.json
[
    {
        "id": "2e3a8f8493965586",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c31677aad969a81e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77cadf0d060c94e4",
        "type": "ui_tab",
        "name": "Projet 3 Romain Vo Phuoc",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4f7988497a9b703f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f38eba9dd69bee52",
        "type": "ui_group",
        "name": "Chart",
        "tab": "77cadf0d060c94e4",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "230895fe84c34243",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "77cadf0d060c94e4",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b0c3bb4fc2ab681",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.20.10.9",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "30a8fa33644bd5da",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "dedd4470f6ba402f",
        "type": "inject",
        "z": "2e3a8f8493965586",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "e4ea97203cbf4827"
            ]
        ]
    },
    {
        "id": "e4ea97203cbf4827",
        "type": "openweathermap",
        "z": "2e3a8f8493965586",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Paris",
        "country": "France",
        "language": "fr",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "49376a774c601467"
            ]
        ]
    },
    {
        "id": "49376a774c601467",
        "type": "function",
        "z": "2e3a8f8493965586",
        "name": "",
        "func": "msg.payload = msg.payload.tempc;\nmsg.topic = \"input1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "b213b20c419fc79e"
            ]
        ]
    },
    {
        "id": "b213b20c419fc79e",
        "type": "ui_chart",
        "z": "2e3a8f8493965586",
        "name": "",
        "group": "f38eba9dd69bee52",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "Temperature Paris en fonction du temps",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "8681701f746b400d"
            ]
        ]
    },
    {
        "id": "8681701f746b400d",
        "type": "debug",
        "z": "2e3a8f8493965586",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "949dcd0127c764e9",
        "type": "exec",
        "z": "c31677aad969a81e",
        "command": "vcgencmd measure_temp",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Raspberry Temperature",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "057bc11406d00bcf"
            ],
            [],
            []
        ]
    },
    {
        "id": "77b0519be6b1d624",
        "type": "inject",
        "z": "c31677aad969a81e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "949dcd0127c764e9"
            ]
        ]
    },
    {
        "id": "0acdd69dddd6eb38",
        "type": "debug",
        "z": "c31677aad969a81e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "057bc11406d00bcf",
        "type": "change",
        "z": "c31677aad969a81e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "temp=",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "'C",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "7b80ceb5f752b8ca",
                "516b9d8ee265c792"
            ]
        ]
    },
    {
        "id": "7b80ceb5f752b8ca",
        "type": "ui_chart",
        "z": "c31677aad969a81e",
        "name": "",
        "group": "f38eba9dd69bee52",
        "order": 1,
        "width": 11,
        "height": 4,
        "label": "Temperature Raspberry",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d20000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "0acdd69dddd6eb38"
            ]
        ]
    },
    {
        "id": "516b9d8ee265c792",
        "type": "ui_gauge",
        "z": "c31677aad969a81e",
        "name": "",
        "group": "230895fe84c34243",
        "order": 1,
        "width": 21,
        "height": 3,
        "gtype": "gage",
        "title": "Raspberry pi CPU temp",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "45",
        "className": "",
        "x": 450,
        "y": 140,
        "wires": []
    }
]