projet_4/flows.json
[
    {
        "id": "5601132a71b9d4bc",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5956b91e0d3c06a0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77cadf0d060c94e4",
        "type": "ui_tab",
        "name": "Projet 4 RAÏS ALI/VO PHUOC",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4f7988497a9b703f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f38eba9dd69bee52",
        "type": "ui_group",
        "name": "Environment",
        "tab": "77cadf0d060c94e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "230895fe84c34243",
        "type": "ui_group",
        "name": "Motion",
        "tab": "77cadf0d060c94e4",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b0c3bb4fc2ab681",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.20.10.9",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "30a8fa33644bd5da",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "fe3a19cc5187c02d",
        "type": "ui_group",
        "name": "Leds",
        "tab": "77cadf0d060c94e4",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d89b5ae955e4c19",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "60987aa84754f95d",
        "type": "rpi-sensehat out",
        "z": "5601132a71b9d4bc",
        "name": "",
        "x": 1630,
        "y": 300,
        "wires": []
    },
    {
        "id": "3ca67561ea9c250c",
        "type": "function",
        "z": "5601132a71b9d4bc",
        "name": "",
        "func": "if(msg.payload == true)\n    msg.payload = msg.topic+\",red\";\nelse \n    msg.payload = msg.topic+\",off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 240,
        "wires": [
            [
                "60987aa84754f95d"
            ]
        ]
    },
    {
        "id": "c8481119f5b404b3",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "0 0",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "ba8b0ddd89b6a969",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "1 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 13,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "47f426b56ce24b78",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "2 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 21,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "a7e7e220b0b626fd",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "3 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 29,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 215,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "5d8822e3abbbbcc2",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "4 0",
        "label": "4 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 37,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 280,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "ea13d43ca236ceff",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "5 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 45,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 340,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "824209bfee8c33b0",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "6 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 53,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "9810f6a8dcd5c523",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "7 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 61,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 455,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "6ae2e6a651e1a287",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "0 1",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "d004554911c23f3f",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "1 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "f9f6c273479f16c4",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "2 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 22,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "42a93726f673c3b2",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "3 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 30,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 215,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "94812dda3809076e",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "4 1",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 38,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "cd73cfc7109f36c7",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "5 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 46,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "6b1b635ce6f23ba8",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "6 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 54,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "0697541e2ba5ada5",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "7 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 62,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 455,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "829f19a8a3587083",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "0 2",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "25fec35c59ec8c02",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "1 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 15,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "8765475a968d03d9",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "2 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 23,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "a973958a0a396f4e",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "3 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 31,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 215,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "4b9835aeeb500e4d",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "4 2",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 39,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "6d945e9c46bf147e",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "5 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 47,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "1cf29a9ada5b77ee",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "6 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 55,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "2f244f1265abe8a9",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "7 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 63,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 455,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "08f6c4234d40adc7",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "0 3",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "b447d5bf4e6177fd",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "1 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 16,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "77b727ae138b15eb",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "2 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 24,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "6795d7c0ec02310b",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "3 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 32,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 215,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "f31fb257fbd23cb7",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "4 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 40,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "ecf7570188b1ccd1",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "5 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 48,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "e69fcbc1dad8c5cf",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "6 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 56,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "a44d5d674760bd89",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "7 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 64,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 455,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "96a42eaf5e84ccb2",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "0 4",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 40,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "a4e78ec7b3597904",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "1 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 17,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "5245f8f2eda32085",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "2 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 25,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "c1d6b5e8762c0d86",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "3 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 33,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 215,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "1d9449a45992297b",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "4 4",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 41,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "a6a7d542acfe72ab",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "5 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 49,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "e26b6581ae76515c",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "6 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 57,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "9228177c0c78197b",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "7 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 65,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 455,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "65abc326d04e7b3d",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "0 5",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 40,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "a2dea533b7aab37b",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "1 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 18,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "22df670d94c64cdb",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "2 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 26,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "759f6c71459ed147",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "3 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 34,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 215,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "73d11ea23da0006b",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "4 5",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 42,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "56b93400ef1c405e",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "5 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 50,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "db6ebf913be5e4f1",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "6 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 58,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "2735c1147648231a",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "7 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 66,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 455,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "ca274b0fa5005126",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "0 6",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 11,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 40,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "de0e09782adbd4c6",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "1 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 19,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 100,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "9f95fe626a23538d",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "2 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 27,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 160,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "332477a3271e5782",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "3 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 35,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 215,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "1bfd0b02f0b9a7d4",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "4 6",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 43,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "4f65d1f8dbdaf1f5",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "5 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 51,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 340,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "9031954be61b1b88",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "6 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 59,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 400,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "56998ba98228292b",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "7 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 67,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 455,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "6bf44e10c835251a",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "0 7",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 40,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "d447e7bd411fa7d4",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "1 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 100,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "0ed5fd0f22253111",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "2 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 28,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "5220d124d8dda46f",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "3 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 36,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 215,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "21d7325803eac787",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "4 7",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 44,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 280,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "06b2fca74dbd38f2",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "5 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 52,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "10a4a1b07bc415f9",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "6 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 60,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "97385891879d440e",
        "type": "ui_switch",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "7 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 68,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 455,
        "wires": [
            [
                "3ca67561ea9c250c"
            ]
        ]
    },
    {
        "id": "cd21868f80ec01f1",
        "type": "exec",
        "z": "5601132a71b9d4bc",
        "command": "cd ~; python3 image_process.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1070,
        "y": 580,
        "wires": [
            [
                "e30e15f5b3cee7a5"
            ],
            [],
            []
        ]
    },
    {
        "id": "33b3c9f3c205c48b",
        "type": "ui_text_input",
        "z": "5601132a71b9d4bc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 780,
        "y": 580,
        "wires": [
            [
                "cd21868f80ec01f1"
            ]
        ]
    },
    {
        "id": "72fe3cda55904238",
        "type": "ui_template",
        "z": "5601132a71b9d4bc",
        "group": "fe3a19cc5187c02d",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<p>Entrer le lien d'une image {{msg.topic}} :</p>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ab9954f701959b47",
        "type": "ui_button",
        "z": "5601132a71b9d4bc",
        "name": "bengi",
        "group": "fe3a19cc5187c02d",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "white",
        "className": "",
        "icon": "https://thumbs.dreamstime.com/z/ic%C3%B4ne-de-loupe-ou-recherche-123898043.jpg",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "2579d2664536d162"
            ]
        ]
    },
    {
        "id": "e751fb5408b39d14",
        "type": "ui_button",
        "z": "5601132a71b9d4bc",
        "name": "",
        "group": "fe3a19cc5187c02d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Led Reinitialisation",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "3b6e969f88026caa"
            ]
        ]
    },
    {
        "id": "3b6e969f88026caa",
        "type": "function",
        "z": "5601132a71b9d4bc",
        "name": "",
        "func": "msg.payload = false\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 540,
        "wires": [
            [
                "9810f6a8dcd5c523",
                "824209bfee8c33b0",
                "ea13d43ca236ceff",
                "5d8822e3abbbbcc2",
                "a7e7e220b0b626fd",
                "47f426b56ce24b78",
                "ba8b0ddd89b6a969",
                "c8481119f5b404b3",
                "0697541e2ba5ada5",
                "6b1b635ce6f23ba8",
                "cd73cfc7109f36c7",
                "94812dda3809076e",
                "42a93726f673c3b2",
                "f9f6c273479f16c4",
                "d004554911c23f3f",
                "6ae2e6a651e1a287",
                "2f244f1265abe8a9",
                "1cf29a9ada5b77ee",
                "6d945e9c46bf147e",
                "4b9835aeeb500e4d",
                "a973958a0a396f4e",
                "8765475a968d03d9",
                "25fec35c59ec8c02",
                "829f19a8a3587083",
                "08f6c4234d40adc7",
                "b447d5bf4e6177fd",
                "77b727ae138b15eb",
                "6795d7c0ec02310b",
                "f31fb257fbd23cb7",
                "ecf7570188b1ccd1",
                "e69fcbc1dad8c5cf",
                "a44d5d674760bd89",
                "9228177c0c78197b",
                "e26b6581ae76515c",
                "a6a7d542acfe72ab",
                "1d9449a45992297b",
                "c1d6b5e8762c0d86",
                "5245f8f2eda32085",
                "a4e78ec7b3597904",
                "96a42eaf5e84ccb2",
                "2735c1147648231a",
                "db6ebf913be5e4f1",
                "56b93400ef1c405e",
                "73d11ea23da0006b",
                "759f6c71459ed147",
                "22df670d94c64cdb",
                "a2dea533b7aab37b",
                "65abc326d04e7b3d",
                "56998ba98228292b",
                "9031954be61b1b88",
                "4f65d1f8dbdaf1f5",
                "1bfd0b02f0b9a7d4",
                "332477a3271e5782",
                "9f95fe626a23538d",
                "de0e09782adbd4c6",
                "ca274b0fa5005126",
                "97385891879d440e",
                "10a4a1b07bc415f9",
                "06b2fca74dbd38f2",
                "21d7325803eac787",
                "5220d124d8dda46f",
                "0ed5fd0f22253111",
                "d447e7bd411fa7d4",
                "6bf44e10c835251a"
            ]
        ]
    },
    {
        "id": "e30e15f5b3cee7a5",
        "type": "function",
        "z": "5601132a71b9d4bc",
        "name": "",
        "func": "if(msg.payload == \"0\\n\"){\n    msg.payload = \"0,0,off\"\n    msg.topic = \"(Unvalid URL)\"\n}\nelse\n    msg.topic = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 360,
        "wires": [
            [
                "60987aa84754f95d",
                "72fe3cda55904238"
            ]
        ]
    },
    {
        "id": "2579d2664536d162",
        "type": "function",
        "z": "5601132a71b9d4bc",
        "name": "",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "33b3c9f3c205c48b"
            ]
        ]
    },
    {
        "id": "f180483baec50318",
        "type": "mqtt in",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "topic": "Sense-hat/motion",
        "qos": "2",
        "datatype": "json",
        "broker": "8b0c3bb4fc2ab681",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "5ab19ced4c726e86",
                "3fdbca5b66fc65f7",
                "c2816019c9223ece",
                "95a55eccd7c430c1",
                "992a03fea11a36d3",
                "e0abe0c57ceb918f"
            ]
        ]
    },
    {
        "id": "471df3f8e060e287",
        "type": "ui_chart",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "group": "f38eba9dd69bee52",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "167ddb5eca541c82",
        "type": "function",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "func": "msg.payload = msg.payload.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "471df3f8e060e287"
            ]
        ]
    },
    {
        "id": "78fefb0f9b5df283",
        "type": "function",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "98ce154096f84191"
            ]
        ]
    },
    {
        "id": "98ce154096f84191",
        "type": "ui_chart",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "group": "f38eba9dd69bee52",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7ad689d7824acacd",
        "type": "function",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "66a662849ae801fa"
            ]
        ]
    },
    {
        "id": "66a662849ae801fa",
        "type": "ui_chart",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "group": "f38eba9dd69bee52",
        "order": 1,
        "width": 6,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "95a55eccd7c430c1",
        "type": "function",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "func": "msg.payload = msg.payload.gyroscope.x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "77dbd1412c7631e5"
            ]
        ]
    },
    {
        "id": "77dbd1412c7631e5",
        "type": "ui_chart",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "group": "230895fe84c34243",
        "order": 4,
        "width": 5,
        "height": 4,
        "label": "pitch",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "992a03fea11a36d3",
        "type": "function",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "func": "msg.payload = msg.payload.gyroscope.x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            [
                "fea5a664d04472cc"
            ]
        ]
    },
    {
        "id": "fea5a664d04472cc",
        "type": "ui_chart",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "group": "230895fe84c34243",
        "order": 6,
        "width": 5,
        "height": 4,
        "label": "yaw",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e0abe0c57ceb918f",
        "type": "function",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "func": "msg.payload = msg.payload.gyroscope.x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "2a7a3a273b0b9f86"
            ]
        ]
    },
    {
        "id": "2a7a3a273b0b9f86",
        "type": "ui_chart",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "group": "230895fe84c34243",
        "order": 2,
        "width": 5,
        "height": 3,
        "label": "roll",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5ab19ced4c726e86",
        "type": "function",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "func": "msg.payload = msg.payload.acceleration.x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 40,
        "wires": [
            [
                "7f3b2b7d2bfbd3d2"
            ]
        ]
    },
    {
        "id": "7f3b2b7d2bfbd3d2",
        "type": "ui_chart",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "group": "230895fe84c34243",
        "order": 1,
        "width": 5,
        "height": 3,
        "label": "acc_x",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3fdbca5b66fc65f7",
        "type": "function",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "func": "msg.payload = msg.payload.acceleration.y;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            [
                "5f443c969ac96a39"
            ]
        ]
    },
    {
        "id": "5f443c969ac96a39",
        "type": "ui_chart",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "group": "230895fe84c34243",
        "order": 3,
        "width": 5,
        "height": 4,
        "label": "acc_y",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c2816019c9223ece",
        "type": "function",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "func": "msg.payload = msg.payload.acceleration.z;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [
            [
                "bc56aa5811cf7e30"
            ]
        ]
    },
    {
        "id": "bc56aa5811cf7e30",
        "type": "ui_chart",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "group": "230895fe84c34243",
        "order": 5,
        "width": 5,
        "height": 4,
        "label": "acc_z",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0d7a95ece9249b7c",
        "type": "debug",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "095ec881fcfd44b6",
        "type": "delay",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "18b76011094f62a7",
                "7ad689d7824acacd",
                "167ddb5eca541c82",
                "78fefb0f9b5df283",
                "0d7a95ece9249b7c"
            ]
        ]
    },
    {
        "id": "18b76011094f62a7",
        "type": "mqtt out",
        "z": "5956b91e0d3c06a0",
        "name": "",
        "topic": "Sense-hat/env",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8b0c3bb4fc2ab681",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "d0a11c8662bb4834",
        "type": "rpi-sensehat in",
        "z": "5956b91e0d3c06a0",
        "name": "env",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "095ec881fcfd44b6"
            ]
        ]
    }
]